@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: Roboto;
}

body {
    margin: 0;
}

#top {
    background-color: #1f2937;
    padding: 30px;
    color: #e5e7eb;

}

nav {
    display: flex;
    gap: 16px;
    font-size: 18px;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

a, .subtext {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
}

.content {
    display: flex;
    margin: 0px 48px;
}

.item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-basis: auto;
}

.image {
    border: #3882f6;
    border-radius: 8px;
    border-style: solid;
    width: 100px;
    height: 100px;
}

#quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 48px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

cite {
    font-size: 24px;
    font-weight: bold;
}

blockquote footer {
    text-align: right;
}

.CTA {
    background-color: #3882f6;
    margin: 4em 36px;
    padding: 24px 48px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;
}

.CTA-text {

}

.CTA button {
    border-style: solid;
    padding: 8px 24px;
    max-height: 32px;
}